<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TP4 - AymericJak</title>
	</head>

	<body>
		<div class="container">
			<h1>TP4- Kafka</h1>

			<h2>État du stock</h2>

			<p>Article / quantité</p>

			<a href="/">refresh</a>

			<hr>

			<h2>Réapprovisionnement du stock</h2>

			<form action="/" method="post">
				<button type="submit">Réapprovisionner</button>
			</form>
		</div>

	</body>
</html>


